{% extends 'pt_test_app/main.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    {% for test in tests %}
    <div class="card" style="width: 15rem; margin: 10px">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'test-view' pk=test.pk %}">{% trans 'Test' %} #{{forloop.counter}}</a></h5>
            <p class="card-text">Contains {{ test.questions__count }} question</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block templates %}{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
